/twitter-source.properties.example
/connect-standalone.properties
/kafka-connect-twitter.iml
/.idea
# sbt specific
target/
# Scala-IDE specific
/twitter-source.properties
/.settings
/.project
/.classpath
/.cache-main
/.cache-tests
